imageAna/data/*
GeAnalysis/data/*
*.pdf
*.pyc
*.npy
*.swp
.DS_Store
CdTe123/*.xlsx
CdTe123/*.pdf
TRIM_simulation
ANLNext
DSDAnalysisTools
other
GeAnalysis/data
GeAnalysis/*/data
GeAnalysis/scripts/outputs
imageAna/data/*
imageAna/run/root
imageAna/run/log
imageAna/run/*.py
imageAna/run/figs
imageAna/run/auxfile
imageAna/run/ATLASStyle
imageAna/macro/__pycache__/
imageAna/macro/latest
imageAna/macro/utils/__pycache__/
imageAna/macro/__pycache__/*
imageAna/macro/utils/__pycache__/*
imageAna/macro/scripts/filt-back-proj
imageAna/macro/scripts/matrix*
imageAna/macro/scripts/files_cali/*
