data/*
CdTe123
GeAnalysis/data
TRIM_simulation
other
run/*
*.root
*.pyc
macro/__pycache__/
macro/latest
macro/utils/__pycache__/
macro/__pycache__/*
macro/utils/__pycache__/*
macro/scripts/filt-back-proj
.DS_Store
