imageAna/data/*
CdTe123
GeAnalysis/data
GeAnalysis/*/data
TRIM_simulation
other
*/data/*
*.pdf
*.pyc
*.npy
imageAna/run/root
imageAna/run/log
imageAna/run/*.py
imageAna/run/figs
imageAna/run/auxfile
imageAna/run/ATLASStyle
imageAna/macro/__pycache__/
imageAna/macro/latest
imageAna/macro/utils/__pycache__/
imageAna/macro/__pycache__/*
imageAna/macro/utils/__pycache__/*
imageAna/macro/scripts/filt-back-proj
imageAna/macro/scripts/matrix*
.DS_Store
